{% extends "base.html" %}
<!DOCTYPE HTML>
{% load i18n %}
<html>
  <head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <title>{% block head_title %}register{% endblock head_title %}</title>

{% block content %}
<body>
  <div class="container1">
    <div class="ex2">
      <table>
        <form method='post' action=''>
          {% csrf_token %}
          {{ form }}
        </form>
      </table>
      <input type="submit" value="{% trans "send activation email" %}" />
    </div>
  </div>


</body>

{% endblock %}
